* {
  box-sizing: border-box;
}

:root {
  --first-color: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  --second-color: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  --third-color: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

body {
  background-color: black;
}

h1 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.ball {
  display: flex;
  margin: auto;
  width: 100px;
  color: white;
  height: 100px;
  background-image: var(--first-color);
  margin-bottom: 10px;
  border-radius: 50%;
  transition: 1s;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
