* {
  box-sizing: border-box;
}

/* :root {
  --first-color: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  --second-color: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  --third-color: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
} */

body {
  background-color: black;
}

h1 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.ball {
  display: flex;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: rgb(105, 105, 243);

  align-items: center;
  justify-content: center;
  transition: 1s;

  cursor: pointer;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.ball2 {
  display: flex;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: rgb(187, 240, 214);

  align-items: center;
  justify-content: center;
  transition: 1s;

  cursor: pointer;
  color: white;
  font-size: 22px;
  font-weight: bold;
}
