* {
  box-sizing: border-box;
}

body {
background-color: black;
}

h1 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.ball {
  display: flex;
  margin: auto;
  width: 100px;
    color: white;
  height: 100px;
  background-image: blue;
  margin-bottom: 10px;
  border-radius: 50%;
}
